.chart{
    flex: 4;
    -webkit-box-shadow: -6px 6px 9px 0px rgba(194, 186, 194, 0.56);
    -moz-box-shadow: -6px 6px 9px 0px rgba(194, 186, 194, 0.56);
    box-shadow: -6px 6px 9px 0px rgba(194, 186, 194, 0.56);
    padding: 10px;
    color: gray;

    .title{
        margin-bottom: 20px;
    }

    .chartGrid{
        stroke: rgba(190, 184, 184, 0.671);
    }

}